<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<nav>
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/festival/{id}">Festival Details</a></li>
    <li><a href="/galerij">Galerij</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/privacy">Privacy Policy</a></li>
 </ul>
</nav>
<h1>
 Welkom Bij Shockz Festival!
</h1>

<body>
    @RenderBody()

</body>
</html>


