p.border {
    background-color: #82b6e9;
    text-align: center;
    color: #1a4589;
    width: 75%;
    margin-left: auto;
    background-color: #82b6e9;
    text-align: center;
    margin-top: 50px;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    margin-right: auto;
}

p.plaats {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    color: #c83200;
    font-family: "Permanent Marker", sans-serif;
}
