@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "contact";
}

<h1>For more information:</h1>

<h1>Contact us via these details:</h1>

<h2>Eran Hyman:</h2>

<h3>Phone: +31 6 37703721 (NL), +972 53 965 1506 (IL)</h3>

<h3>Email: eran.heymann@gmail.com</h3>

<h2>Ate Mochèl:</h2>

<h3>(please insert your details here)</h3>