@using SchoolTemplate.Database;
@model PersonModel
@{
    ViewData["Title"] = "contact";
}

<head>
    <link rel="stylesheet" href="~/css/contact.css" />
</head>
<h1>Contact</h1>

@if(ViewData["formsuccess"] == "ök")
{
    <p>Gelukt! Bedankt voor het invullen! / Success! Thanks for filling in!</p>
}

@if (Model != null) {
<p>
    Your first name is @ViewData["voornaam"] <br />
    Your last name is @ViewData["achternaam"] <br />
</p>
}

<form method="post">
    <input type="text" name="voornaam" placeholder="Voornaam" /> <br />
    <input type="text" name="achternaam" placeholder="Achternaam" /> <br />
    @Html.ValidationMessageFor(m => m.achternaam) <br />
    <input type="text" name="email" placeholder="E-mail" /> <br />
    @Html.ValidationMessageFor(m => m.email) <br />
    <input type="datetime" name="geboortedatum" />
    <input type="submit" value="verstuur" />
</form>