@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/event.css" />
</head>

<body style="text-align: center; color: white">
    @foreach (Event e in Model)
    {
        <p class="border">
            @e.Plaats<br />
            @e.Datumtijd.ToString("yyyy-MM-dd HH:mm")
        <br class="festival">@e.Beschrijving

        </p>

    }

</body>