<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>
<body>
    <h2>!BELANGRIJKE MEDEDELING!</h2>
    <h2>!IMPORTANT ANNOUNCEMENT!</h2>
    <h3>Door de situaties omtrent het coronavirus, zijn de festivals uitgesteld tot q1 van 2021. Excuses voor het ongemak.</h3>
    <h3>Due to the situations regarding the COVID-19 pandemic, the festivals are postponed until q1 of 2021. Apologies for inconveniences caused.</h3>
</body>
</html>