@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/event.css" />
</head>

@foreach (Event e in Model)
{
    <p class="border" style="border-radius: 25px">
        <a class="link" href="/details">
            @e.Plaats<br />
            @e.Datumtijd.ToString("yyyy-MM-dd HH:mm")<br />
            €@e.Prijs<br />
        </a>


    </p>
    <button class="button button1">Bestel Hier!</button>

}