<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>
<body>
    <h1>!BELANGRIJKE MEDEDELING!</h1>
    <h1>!IMPORTANT ANNOUNCEMENT!</h1>
    <h2>Door de situaties omtrent het coronavirus, zijn de festivals uitgesteld tot q1 van 2021. Excuses voor het ongemak.</h2>
    <h2>Due to the situations regarding the COVID-19 pandemic, the festivals are postponed until q1 of 2021. Apologies for inconveniences caused.</h2>
</body>
</html>