@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<body style="text-align: center; color: white">
@foreach(Event e in Model)
{
    <p.none>@e.Plaats.ToString(1) @e.Datumtijd.ToString("yyyy-MM-dd hh")</p.none>

}
</body>