@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}


@foreach(Event e in Model)
{
    <p>@e.Plaats</p>
    <p>@e.Datumtijd.ToString("yyyy-MM-dd hh:mm:ss")</p>

}