@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/event.css" />
</head>

<body style="text-align: center; color: white">
    @foreach (Event e in Model)
    {
        <p class="border">
            <a href="http://localhost:56349/festival/%7Bid%7D">@e.Plaats</a><br />
            @e.Datumtijd.ToString("yyyy-MM-dd HH:mm")

        </p>

    }

</body>