@using SchoolTemplate.Database;
@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    @*<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">*@
</head>
<body>
     @*image slider*@
    <div class="slideshow-container">

        <div class="mySlides fade">
            <img src="https://www.wearetravellers.nl/wp-content/uploads/Grootste-festivals-nederland.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="https://img.redbull.com/images/c_crop,x_0,y_0,h_5792,w_8688/c_fill,w_1500,h_1000/q_auto,f_auto/redbullcom/2018/07/06/0410c6a7-ca79-4da8-8d60-b5268f285fd8/festival-collection" style="width:100%">
        </div>

        <div class="mySlides fade">
            <img src="https://i.ytimg.com/vi/pTn3y_hCMmE/maxresdefault.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>


    <h1>
        Welkom bij Shockz, jouw ultieme provider voor festivals!
    </h1>

    <p class="none">
        <br />
        Festival in Amsterdam uitgesteld door corona:
        <br />
        <br />
        In het belang van al onze bezoekers, standhouders en medewerkers, én na een zorgvuldige evaluatie van de situatie rondom het coronavirus in Nederland en wereldwijd, is de moeilijke beslissing genomen om het festival te Amsterdam verder uit te stellen. De data zullen nog bekend worden gemaakt. Daarbij zal het Shockz Festival-team de komende maanden blijven werken aan het leveren van een festivalervaring, die het wachten meer dan waard is! Mocht je niet op de nieuwe data aanwezig kunnen zijn, neem dan contact op met het team.
    </p>


</body>
</html>


