@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

    <html>
        <body>
          


            <p class="solid">
                <br />
                Festival in Amsterdam uitgesteld door corona:
                <br />
                <br />
                In het belang van al onze bezoekers, standhouders en medewerkers, én na een zorgvuldige evaluatie van de situatie rondom het coronavirus in Nederland en wereldwijd, is de moeilijke beslissing genomen om The Amsterdam Coffee Festival verder uit te stellen naar 5 - 7 maart 2021. Het overvolle programma met festivalonderdelen als Roast Masters™, Latte Art Live, The Mindful Coffee Tasting Experience blijft ongewijzigd. Daarbij zal het ACF-team de komende maanden blijven werken aan het verder uitbouwen van het bestaande programma en het leveren van een festivalervaring, die het wachten meer dan waard is! Mocht je niet op de nieuwe data aanwezig kunnen zijn, neem dan contact op met het team.
            </p>

            <div class="figure">
                <img src="https://www.wearetravellers.nl/wp-content/uploads/Grootste-festivals-nederland-1024x682.jpg" />
            </div>

        </body>
</html>

