@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (Festival p in Model)
        {
            <li><a href="/festival/@p.Id">@p.Naam</a></li>
        }
    </ul>
</div>