@{
        ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" />
</head>

<h1>@ViewData["Title"]</h1>

<h2>
    Bij het gebruiken van deze site moet je ingaan met het feit dat alle festivals voor 16 JAAR EN OUDER en tegen betaling zijn. By using this site you have to agree with the fact that the content is for visitors ABOVE 16 years old and is upon charge.
</h2>

<h2>
    Met vriendelijke groeten/Yours sincerely,
</h2>

<h2>
    Eran Hyman and Ate Mochèl
</h2>

<h2>
    The developers of the website
</h2>