@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>(Use this page to detail your site's privacy policy.) By using this site you have to agree with the fact that the content is for visitors ABOVE 16 years old and is upon charge.
    
    Yours sincerely,
    
    Eran Hyman and Ate Mochèl
    The devs of the website</p>
