@{
        ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/privacy.css" />
</head>

<h1>@ViewData["Title"]</h1>

<h2>
        (Use this page to detail your site's privacy policy.) By using this site you have to agree with the fact that the content is for visitors ABOVE 16 years old and is upon charge.
</h2>

<h2>
    Yours sincerely,
</h2>

<h2>
    Eran Hyman and Ate Mochèl
</h2>

<h2>
    The developers of the website
</h2>